In [7]:
print("python\n"*3)

python
python
python

In [8]:
print("athira",23)

athira 23

In [9]:
print("haii all",end='!')

haii all!

In [11]:
print("you are healthy",end="!")

you are healthy!

In [13]:
print("\n \"welcome\" " )

 "welcome"

In [14]:
print("Today is jan",5,2023)

Today is jan 5 2023

In [16]:
a="today is"
b=5
c=2023
print(a,b,c)

today is 5 2023

In [23]:
name="athira"
print(name)
print("my name is ", name)
print("haii "+"athira")

athira
my name is  athira
haii athira

In [25]:
x="my coding skills"
print(x,end="!\n")
print()
print(x,end="?\n")
print(x,end=".\n")

my coding skills!

my coding skills?
my coding skills.

In [37]:
movie="xyz"
rating=4.9
year=2023
print(movie,"with rating",rating,"released in",year)
print()
print("{}, with rating, {} ,released in {}".format(movie,rating,year))

print()
print(type(movie),"\n",type(rating),"\n",type(year))

xyz with rating 4.9 released in 2023

xyz, with rating, 4.9 ,released in 2023

<class 'str'>
 <class 'float'>
 <class 'int'>

In [39]:
x=int('5')
y=float(x)

print(x,type(x))
print(y,type(y))

5 <class 'int'>
5.0 <class 'float'>

In [42]:
y=4.56
z=int(y)
print(type(y))
print(z,type(z))

<class 'float'>
4 <class 'int'>

In [43]:
x=1
c=complex(x)
print(c)

(1+0j)